@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 238, 234, 227;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.timer-input {
  padding: 0;
  margin: 0;
  font-size: 3rem;
  letter-spacing: 0.15rem;
  box-sizing: border-box; 
  outline: none; /* Removes the default focus outline */
  user-select: none;
  box-shadow: none;
  -webkit-user-select: none; /* For WebKit browsers */
  -moz-user-select: none; /* For Firefox */
  -ms-user-select: none; /* For Internet Explorer/Edge */
}
.timer-input:focus {
  outline: none; /* Ensures no outline on focus */
  box-shadow: none; /* Removes any shadow that might be added on focus */
}

@keyframes shake {
  0% { transform: translateX(0); }
  15% { transform: translateX(-3px); }
  30% { transform: translateX(0); }
  42% { transform: translateX(3px); }
  54% { transform: translateX(0); }
  66% { transform: translateX(-3px); }
  80% { transform: translateX(0); }
  90% { transform: translateX(3px); }
  100% { transform: translateX(0); }
}

/* Apply the animation to the error element */
.shake {
  animation: shake 0.3s ease; /* Adjust duration and timing as needed */
}